@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

:root {
   font-size: 62.5%;
   --blue: #312D64;
   --pink: #B52184;
   --background: #F9F4FB;
   --white: #FFFFFF;
   --gradient1: #343193;
   --gradient2: #302C63;
}

body, input, textarea, button {
   font-family: 'Mulish', sans-serif;
   font-weight: 600;
   color: var(--blue);
}

body {
   width: 43rem;
   margin: auto;
   background-color: var(--background);
   font-size: 2rem;
   text-align: center;
}

#project h1 {
   color: var(--pink);
   font-weight: 900;
}

.header {
   padding-bottom: 9.3rem;
}

.main-img {
   margin-bottom: 1.7rem;
}

.header h1 {
   font-size: 3.2rem;
}

.header .title {
   display: flex;
   flex-direction: column;
   gap: 5px;
   margin-bottom: 3.5rem;
}

.arrow {
   --startY: 50%;
   animation: move 0.6s alternate infinite;
}

.topics {
   background: linear-gradient(96deg, var(--gradient1) 0%, var(--gradient2) 99.68%);
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5rem;
   padding: 5.3rem 0;
}

.topics div {
   background-color: var(--white);
   width: 35.2rem;
   border-radius: 2rem;
   text-align: left;
   padding: 2.7rem;
   box-shadow: 0px 3px 13px 0px #00000040;
   --delay: 0.4s;
   animation: appear 1s var(--delay) backwards;
}

.topics div h2 {
   color: var(--pink);
   font-weight: 900;
   font-size: 3rem;
   margin-bottom: 1.3rem;
   margin-top: 2.5rem;
}

.topics div p {
   font-size: 1.6rem;
   width: 26.5rem;
}

.login {
   display: flex;
   flex-direction: column;
   text-align: left;
}

.login h1 {
   font-size: 3.2rem;
   margin: 7.8rem 0 4.3rem 4rem;
}

.login #contact {
   display: flex;
   flex-direction: column;
   gap: 2.4rem;
}

.login #contact div {
   margin: 0 4.3rem 0 3.9rem;
}

input, textarea {
   font-size: 1.6rem;
   border: none;
   background-color: var(--background);
   outline: none;
}

.login #contact input {
   padding: 1.2rem 1.6rem 1.2rem 1.4rem;
   flex: 1;
}

#contact input::placeholder,#contact textarea::placeholder {
   color: var(--blue);
}

#contact .personal-data {
   display: flex;
   border-radius: 1.6rem;
   border: 2px solid var(--blue);
   padding-left: 1.4rem;
   overflow: hidden;
}

#contact textarea {
   width: 100%;
   height: 12.6rem;
   padding: 1.2rem 1.6rem 1.6rem;
   border: 2px solid var(--blue);
   border-radius: 1.6rem;
}

#contact .button {
   font-size: 1.4rem;
   font-weight: 700;
   width: 15.2rem;
   padding: 1.6rem;
   background: linear-gradient(96deg, var(--gradient1) 0%, var(--gradient2) 99.68%);
   color: var(--white);
   border: none;
   border-radius: 1.6rem;
   margin: 0 0 6.5rem 4.3rem;
   cursor: pointer;
}

#contact .button:hover {
   background: linear-gradient(96deg, #B52184 0%, #8c1a66 99.68%); 
}

footer {
   background: linear-gradient(96deg, var(--gradient1) 0%, var(--gradient2) 99.68%);

   padding: 1.6rem;
   text-align: center;
   color: var(--white);
   font-size: 1.9rem;
}

@keyframes appear {
   0% {
      opacity: 0;
      transform: scale(0.7);
   }
}

@keyframes move {
   0% {
      transform: translateY(var(--startY));
   }
}

@media (min-width: 768px) and (max-width: 1439px) {
   body {
      width: 100%;
      font-size: 2.5rem;
   }

   .header h1 {
      font-size: 4rem;
   }

   .topics {
      gap: 8rem;
      padding: 10rem 0;
   }

   .topics div {
      width: 55rem;
      padding: 4rem;
   }

   .topics div h1 {
      font-size: 3.5rem;
   }

   .topics div p {
      font-size: 2rem;
      line-height: 3rem;
      width: 40rem;
   }

   .topics div:hover {
      transform: scale(1.1);
      transition: 0.5s;
      background-color: var(--pink);
      color: var(--white);
   }

   .topics div:hover h2 {
      color: var(--white);
   }

   input, textarea {
      font-size: 2rem;
      font-weight: 700;
   }

   #contact .button {
      font-size: 1.8rem;
      width: 20rem;
   }
}

@media (min-width: 1440px) {
   .header {
      overflow: hidden;
      display: grid;
      grid-template-areas: 
      "title img"
      "arrow img";
   }

   .header .title {
      grid-area: title;
      text-align: left;
      margin: 31.2rem 2.8rem 12rem 10.9rem; 
   }

   .title h1 {
      font-size: 5.8rem;
      font-weight: 900;
   }

   .title p {
      font-size: 3.2rem;
   }

   .header .main-img {
      grid-area: img;
      width: 72rem;
      margin-right: 3rem;
   }

   .header .arrow {
      grid-area: arrow;
      margin-left: 10.9rem;
   }

   body {
      width: 100%;
   }

   .topics {
      justify-content: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 6rem;
      padding: 6.4rem 11rem;
   }

   .topics div {
      padding: 3.2rem;
      width: 100%;
      height: 44.8rem;
   }

   .topics div h2 {
      margin-bottom: 2.4rem;
      font-size: 3.5rem;
   }

   .topics div p {
      width: 100%;
      font-size: 1.9rem;
      line-height: 2.5rem;
   }

   .topics div:hover {
      transform: scale(1.1);
      transition: 0.5s;
      background-color: var(--pink);
      color: var(--white);
   }

   .topics div:hover h2 {
      color: var(--white);
   }

   .login {
      width: 79.3rem;
      padding: 0 9.2rem 0 10.9rem;
   }

   .login h1 {
      margin-left: 0;
      font-size: 4.2rem;
   }

   .login #contact div {
      margin: 0;
      width: 59.2rem;
   }

   .login-area::after {
      content: url(../assets/detail.svg);
   }

   .login-area {
      display: flex;
      flex-direction: row;
   }

   #contact .button {
      margin-left: 0;
   }
   
}